{{#each blogPosts as |blog| }}
<div class=" my-2 p-2 bg-success border">
  <a href="/post/{{blog.id}}">
    <h5 class="font-weight-bolder text-dark bg-white p-1">{{blog.name}}</h5>
  </a>
  <p class="text-white">{{blog.description}}</p>
  <p class="text-white">{{formate_date blog.createdAt}}</p>
  <p>By:  {{blog.user.name}}</p>
</div>
{{/each}}